
<h1> ACP Control Times </h1>
{% for item in items %}
 <strong> 
    <span style="float:left">
    {{item.begin_date}}      
    {{item.begin_time}}
    {{item.distance}}{% if item.distance %}km{% endif %}
    </span>
</strong>
{% endfor %}
<br>
<br>
{% for item in items %}
  
  <span style="float:left">
  {{ item.km }}{% if item.km %}km{% endif %}
  {% if item.open %}Open: {% endif %}{{ item.open }}
  {% if item.close %}Close: {% endif %}{{ item.close }}
  </span>
  <br>
{% endfor %}
<br>
<br>
<a href="/">Back</a>

