<title>API Login</title>
<h1>API Login</h1>
<form method="POST" >
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    {{ form.remember.label }} {{ form.remember }}
    {{ form.logout }}
    <input type="submit" value="Submit">
</form>
<p>Logging in with an active token will discard the current token and use the token of the new login.</p>
<p>Use the "Log Out" button below to kill the active token so api resources cannot be accessed.</p>
<form method="POST">
	{{ lform.csrf_token }}
	{{ lform.logout }}
</form>