<title>API Registration</title>
<h1>API Registration</h1>
<form method="POST" >
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}
    <input name="submit" type="submit" value="Submit">
</form>
<p>Registering a user does not log them in. Go to api/token to login and get a token.</p>
<p>Use the "Log Out" button below to kill the active token so api resources cannot be accessed.</p>
<form method="POST">
	{{ lform.csrf_token }}
	{{ lform.logout }}
</form>